 .question-display{
    color:red;
    /*font-family: 'Courier New', Courier, monospace; */
    font-weight: bold;
}
.user-display{
    text-align: right;
    font-size: small;
    color: darkolivegreen;
    opacity: 0.7;
}
.answer-display{
    color: green;
    font-style: italic;
    opacity: 0.7;
}
a{
    color:black;
    text-decoration: none;
}
a:hover{
    color:black;
    text-decoration: none;
}
