{% extends 'base.html'%} 
{% load static %}
{%  block content2 %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <p> A question answers platform where users can share their knowledge and 
            views about a topic and post questions and get answers , also the answer questions .
        </p>
        <h4> Team @ASKHere</h4>
        <ul>  <li>17131A05A8</li><li>17131A05A9</li><li>17131A05B1</li><li>17131A05B2</li>  </ul>
        <h3> Contacts: </h3>
        <h5><p> team@askhere.com </p></h5>
        </div>
    </div>      
</div>
{% endblock %}